body {
    background-color: #BAFF39; /* Yellow-green */
    color: #6E6E6E; /* Dim grey */
    font-family: Arial, sans-serif;
}

h1 {
    color: #6E6E6E; /* Dim grey */
}

h2 {
    color: #6E6E6E; /* Dim grey */
}

h3 {
    color: #6E6E6E; /* Dim grey */
}

p {
    color: #6E6E6E; /* Dim grey */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: #6E6E6E; /* Dim grey */
}

#results {
    background-color: #FFFFFF; /* White */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
